body {
    scroll-behavior: smooth;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #212121;
    color: white;
}

.wrapper {
    display: flex;
    gap: 7vw;
}

.container {
    box-sizing: border-box;
}