<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>library project</title>
    <meta name="description" content="library project">
    <meta name="keywords" content="">
    <meta name="author" content="github.com/kali4nya">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <!-- Set Favicon -->
    <link rel="icon" href="static/admin_book_favicon.webp" type="image/x-icon">
    <!-- css-->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='adminPanel/style.css') }}">
    <!-- fonts -->
</head>

<body>
    <div class="grid">
        <div>
            <div class="books">
                <h1>Books in the Library</h1>
                <ul>
                    {% for book in books %}
                    <li>{{ book }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="users">
                <h1>Registered Users</h1>
                <ul>
                    {% for user in users %}
                    <li>{{ user }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="book_adding">
                <h1>Book adding</h1>
                <form action="{{ url_for('add_book') }}" method="POST">
                    <input type="text" name="title" placeholder="title" autocomplete="off" required>
                    <input type="text" name="author" placeholder="author" autocomplete="off" required>
                    <input type="text" name="year" placeholder="year" autocomplete="off" required>
                    <button>Add Book</button>
                </form>
            </div>
            <div class="user_adding">
                <h1>User adding</h1>
                <form id="userForm" action="{{ url_for('add_user') }}" method="POST">
                    <input type="text" name="username" placeholder="username" autocomplete="off" required>
                    <input type="text" name="name" placeholder="name" autocomplete="off" required>
                    <input type="text" name="surname" placeholder="surname" autocomplete="off" required>
                    <input type="password" id="password" placeholder="password" autocomplete="off" required>
                    <input type="hidden" name="password" id="hashedPassword">
                    <input type="text" name="permission_level" placeholder="1, 2, 3 (default = 1)" autocomplete="off">
                    <button type="submit">Add User</button>
                </form>
            </div>
            <div class="book_borrowing">
                <h1>Book borrowing</h1>
                <form action="{{ url_for('borrow_book') }}" method="POST">
                    <input type="text" name="title" placeholder="book title" autocomplete="off" required>
                    <input type="text" name="username" placeholder="username" autocomplete="off"
                        required>
                    <button>Borrow book</button>
                </form>
            </div>
            <div class="book_returning">
                <h1>Book returning</h1>
                <form action="{{ url_for('return_book') }}" method="POST">
                    <input type="text" name="title" placeholder="book title" autocomplete="off" required>
                    <input type="text" name="username" placeholder="username" autocomplete="off"
                        required>
                    <button>Return book</button>
                </form>
            </div>
        </div>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    </div>

    <script src="{{ url_for('static', filename='adminPanel/script.js') }}"></script>
</body>

</html>
