<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>library project</title>
    <meta name="description" content="library project">
    <meta name="keywords" content="">
    <meta name="author" content="github.com/kali4nya">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <!-- Set Favicon -->
    <link rel="icon" href="static/book_favicon.png" type="image/x-icon">
    <!-- css-->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='home/style.css') }}">
    <!-- fonts -->
</head>
<body>
    <div>
        <h1>Welcome to the library, please log in or register</h1>
    </div>
    
    <!-- NEW CONTAINER TO CENTER THE FORMS -->
    <div id="error-banner" class="error-banner" data-error="{{ error }}"></div>
    <div class="container">
        <div class="loginForm">
            <h2>Log in here:</h2>
            <form method="POST">
                <input type="hidden" name="action" value="login">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required>
                <br>
                <button type="submit">Login</button>
                <button type="button" onclick="window.location.href='{{ url_for('home') }}'">Back</button>
            </form>
        </div>

        <div class="registerForm">
            <h2>Register here:</h2>
            <form method="POST">
                <input type="hidden" name="action" value="register">
                <label for="registerUsername">Username:</label>
                <input type="text" id="registerUsername" name="registerUsername" placeholder="Username" autocomplete="off" required>
                <br>
                <label for="registerName">Name:</label>
                <input type="text" id="registerName" name="registerName" placeholder="Name" autocomplete="off" required>
                <br>
                <label for="registerSurname">Surname:</label>
                <input type="text" id="registerSurname" name="registerSurname" placeholder="Surname" autocomplete="off" required>
                <br>
                <label for="registerPassword">Password:</label>
                <input type="password" id="registerPassword" name="registerPassword" placeholder="Password" autocomplete="off" required>
                <br>
                <button type="submit">Register</button>
                <button type="button" onclick="window.location.href='{{ url_for('home') }}'">Back</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='home/script.js') }}"></script>
</body>

</html>
