<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lab01(library)</title>
        <meta name="library" content="library pproject">
        <meta name="author" content="https://github.com/kali4nya">
        <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
        <!-- Set Favicon -->
        <link rel="icon" href="favicon.png" type="image/x-icon">
        <!-- css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- fonts -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        </style>
    </head>
    <body>
        <h1>Welcome to the library (Lab01)</h1>
        <br>

        <div class="wrapper">
            <div class="container">
                <h2>Create a Book</h2>
                <form action="{{ url_for('create_book') }}" method="POST">
                    <label for="title">Book Title:</label>
                    <input type="text" id="title" name="title" autocomplete="off" required><br><br>
                
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author" autocomplete="off" required><br><br>
                
                    <label for="release_year">Release Year:</label>
                    <input type="number" id="release_year" name="release_year" autocomplete="off" required><br><br>
                
                    <button type="submit">Add Book</button>
                </form>
                <br>
                <div style="display: inline-block;">
                    <h2 style="display: inline;">Book List: / Borrow area (click to borrow a book)</h2>
                    <input type="text" id="borrowingUser" placeholder="user id" autocomplete="off" required>
                </div>
                <ul>
                    {% for book in books %}
                        <li>
                            {{ book.title }} <b>by</b> {{ book.author }} ({{ book.release_year }}) -  
                            {% if book.available %}
                                Available
                            {% else %}
                                Not Available
                            {% endif %}
                
                            <!-- Borrow Button Form -->
                            {% if book.available %}
                                <form action="{{ url_for('borrow_book') }}" method="POST" style="display:inline;" onsubmit="addUserIdToForm(this);">
                                    <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                    <input type="hidden" name="user_id" value="">  <!-- This will be filled dynamically -->
                                    <button type="submit">Borrow</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        
            <div class="container">
                <h2>Create a User</h2>
                <form action="{{ url_for('create_user') }}" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" autocomplete="off" required><br><br>

                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" name="surname" autocomplete="off" required>
                    <button type="submit">Create User</button>
                </form>

                <h2>User List:</h2>
                <ul>
                    {% for user in users %}
                        <li>
                            {{ user.name }} {{ user.surname }} <b>(ID: {{ user.user_id }})</b>  
                            <ul>
                                <b>Borrowed Books:</b>
                                {% for book in user.get_borrowed_books() %}
                                    <li>{{ book.title }} (ID: {{ book.id }})</li>
                                {% else %}
                                    <li>No books borrowed</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>        

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>